body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/17/56/wall-1846841_1280.jpg");
    margin: 0;
    height: 100vh;
    /* 100% de la altura de la viewport */
    background-size: cover;
    /* Cubre toda el área, recortando si es necesario */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}

.container {
    position: relative;
    height: 90vh;
    width: 120vh;
    background-image: url("https://cdn.pixabay.com/photo/2014/11/05/12/08/chalkboard-517818_1280.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(10px 10px 4px #1f1f1fce);
}

li {
    color: white;
}